/Lab1-MCS_Search/Lab1-MCS_Search/*.txt
/Lab1-MCS_Search/enc_temp_folder
/Lab1-MCS_Search/Lab1-MCS_Search/.vs/Lab1-MSC_Search
/Lab1-MCS_Search/Lab1-MCS_Search/Lab1-MCS_Search/x64/Debug
/Lab1-MCS_Search/Lab1-MCS_Search/x64/Debug
/Lab1-MCS_Search/.vs
/Lab1-MCS_Search/Lab1-MCS_Search/.vs/Lab1-MCS_Search/v17
/Lab1-MCS_Search/Lab1-MCS_Search/.vs/Lab1-MCS_Search
