################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1-MSC_Search/.vs/Lab1-MSC_Search
